---
layout: default
title: "Az irodalmi blog"
desc: "Irodalmi és művészeti témájú blog: irodalom és egyéb emberi lim-lomok. Utánam, olvasó!"
menu: "Főoldal"
weight: 10
---

			<!-- Banner -->
				<section id="banner">

					<!--
						".inner" is set up as an inline-block so it automatically expands
						in both directions to fit whatever's inside it. This means it won't
						automatically wrap lines, so be sure to use line breaks where
						appropriate (<br />).
					-->
					<div class="inner">

						<header>
							<h2>West of the Sun</h2>
						</header>
						<p>Irodalmi és egyéb emberi lomok</p>

					</div>

				</section>

			<!-- Main -->
				<article id="main">

					<header class="special container">
						<span class="icon fa-diamond"></span>
						<h2>Üdvözöllek a blogomon!</h2>
						<p>Irodalmi és egyéb művészeti témában írkálok cikkeket olyan témákról,<br />
						amik talán mások számára is érdekesek lehetnek.<br />
						<strong>Utánam, Olvasó!</strong></p>
					</header>

					<!-- Three -->
						<section class="wrapper style3 container special">

							<header class="major">
								<h2>Legutóbbi <strong>bejegyzések</strong></h2>
							</header>

							<div class="row">
							{% for post in site.posts limit:2 %}
								<div class="6u 12u(narrower)">

									<section>
										<a href="{{ post.url }}" class="image featured" title="{{ post.title }}"><img src="{{ post.featured-image }}" /></a>
										<header>
											<h3>{{ post.title }}</h3>
										</header>
										<p>{{ post.excerpt | strip_html }}</p>
									</section>

								</div>
							{% endfor %}
							</div>
							<div class="row">
							{% for post in site.posts offset:2 limit:2 %}
								<div class="6u 12u(narrower)">

									<section>
										<a href="{{ post.url }}" class="image featured" title="{{ post.title }}"><img src="{{ post.featured-image }}" /></a>
										<header>
											<h3>{{ post.title }}</h3>
										</header>
										<p>{{ post.excerpt | strip_html }}</p>
									</section>

								</div>
							{% endfor %}
							</div>

							<footer class="major">
								<ul class="buttons">
									<li><a href="blog" class="button">És ez nem minden!</a></li>
								</ul>
							</footer>

						</section>

				</article>
