---
layout: default
---

			<!-- Main -->
				<article id="main" itemscope itemtype="http://schema.org/BlogPosting" itemid="{{ site.url }}{{ page.id }}">
					<meta itemscope itemprop="mainEntityOfPage"  itemType="https://schema.org/Blog" itemid="{{ site.url }}" content="" />
					<link itemprop="publisher" href="#org" />
					<header class="special container">
						<span class="icon fa-diamond"></span>
						<h2 itemprop="headline">{{ page.title }}</h2>
						<p>{{ page.date | date: "%Y-%m-%d" }}</p>
						<meta itemprop="datePublished" content="{{ page.date | date: "%FT%T%z" }}"/>
						<meta itemprop="dateModified" content="{{ page.date | date: "%FT%T%z" }}"/>
						<meta itemprop="description" content="{{ page.desc }}"/>
						<span itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
							<meta itemprop="url" content="{{ site.url }}{{ page.featured-image }}">
							<meta itemprop="width" content="489">
							<meta itemprop="height" content="262">
						</span>
					</header>

					<!-- One -->
						<section class="wrapper style4 container">

							<div class="row 150%">
								<div class="8u 12u(narrower)">

									<!-- Content -->
										<div class="content">
											<section>

											{{ content }}

											</section>
										</div>

								</div>
								<div class="4u 12u(narrower)">

									<!-- Sidebar -->
										<div class="sidebar">
											<section>
												<header>
													<h3>Terjedelem</h3>
												</header>
												<p>
												{{ page.content | strip_html | number_of_words | divided_by: 150 }} percnyi olvasnivaló
												</p>
											</section>

											<section>
												<header>
													<h3>Tag-ek</h3>
												</header>
												<p>
												{% assign tags = page.tags | sort | uniq %}
												{% for tag in tags %}
													<a href="/tags/#tag-{{ tag | slugify }}" class="tag" hreflang="{{ site.lang }}">
														<span class="arrow"></span>
														{{ tag }}
													</a>
												{% endfor %}
												</p>
											</section>

											{% for i in (0..9) %}
											{% assign p = site.posts | sample %}
											{% if p.url != page.url %}
											<section>
												<header>
													<h3>Kedvcsináló</h3>
												</header>
												<p>{{ p.excerpt | strip_html }}</p>
												<footer>
													<ul class="buttons">
														<li><a href="{{ p.url }}" class="button small" hreflang="{{ site.lang }}">Tovább &raquo;</a></li>
													</ul>
												</footer>
											</section>
											{% break %}
											{% endif %}
											{% endfor %}
										</div>

								</div>
							</div>

							<footer>

								<p itemprop="author" itemscope itemtype="https://schema.org/Person">
									Írta: <span itemprop="name">{{ site.author }}</span>
								</p>

								{% if page.comments %}
								{% include disqus.html %}
								{% endif %}

							</footer>

						</section>

					<!-- Two -->
						<section class="wrapper style1 container special">
							<div class="row">
								<div class="6u 12u(narrower)">
								{% if page.previous != nil %}

									<section>
										<header>
											<h3>Előző bejegyzés</h3>
										</header>
										<p>{{ page.previous.title }}</p>
										<footer>
											<ul class="buttons">
												<li><a href="{{ page.previous.url }}" class="button small" hreflang="{{ site.lang }}">&laquo; Ugrás!</a></li>
											</ul>
										</footer>
									</section>

								{% endif %}
								</div>
								<div class="6u 12u(narrower)">
								{% if page.next != nil %}

									<section>
										<header>
											<h3>Következő bejegyzés</h3>
										</header>
										<p>{{ page.next.title }}</p>
										<footer>
											<ul class="buttons">
												<li><a href="{{ page.next.url }}" class="button small" hreflang="{{ site.lang }}">Ugrás! &raquo;</a></li>
											</ul>
										</footer>
									</section>

								{% endif %}
								</div>
							</div>
						</section>

				</article>
