---
layout: default
---

			<!-- Main -->
				<article id="main" itemscope itemType="http://schema.org/BlogPosting">
					<header class="special container">
						<span class="icon fa-diamond"></span>
						<h2 itemprop="headline">{{ page.title }}</h2>
						<p>{{ page.date | date: "%Y-%m-%d" }}</p>
						<meta itemprop="datePublished" content="{{ page.date | date: "%Y-%m-%d" }}T00:00Z" />
						<meta itemprop="description" content="{{ page.desc }}" />
						<meta itemprop="image" content="{{ site.url }}{{ page.featured-image }}" itemtype="https://schema.org/URL" />
					</header>

					<!-- One -->
						<section class="wrapper style4 container">

							<div class="row 150%">
								<div class="8u 12u(narrower)">

									<!-- Content -->
										<div class="content">
											<section itemprop="articleBody">

											{{ content }}

											</section>
										</div>

								</div>
								<div class="4u 12u(narrower)">

									<!-- Sidebar -->
										<div class="sidebar">
											<section>
												<header>
													<h3>Tag-ek</h3>
												</header>
												<p>
												{% assign tags = page.tags | sort | uniq %}
												{% for tag in tags %}
													<a href="/tags/" class="tag">
														<span class="arrow"></span>
														{{ tag }}
													</a>
												{% endfor %}
												</p>
											</section>

											{% for i in (0..9) %}
											{% assign p = site.posts | sample %}
											{% if p.url != page.url %}
											<section>
												<header>
													<h3>Kedvcsináló</h3>
												</header>
												<p>{{ p.excerpt | strip_html }}</p>
												<footer>
													<ul class="buttons">
														<li><a href="{{ p.url }}" class="button small">Tovább &raquo;</a></li>
													</ul>
												</footer>
											</section>
											{% break %}
											{% endif %}
											{% endfor %}
										</div>

								</div>
							</div>
							<footer>
								<h3 itemprop="author publisher" itemscope itemtype="https://schema.org/Person">
							     Szerző: <span itemprop="name">{{ site.author }}</span>
								</h3>
  {% if page.comments %}
  {% include disqus.html %}
  {% endif %}
							</footer>
						</section>

					<!-- Two -->
						<section class="wrapper style1 container special">
							<div class="row">
								<div class="6u 12u(narrower)">
								{% if page.previous != nil %}

									<section>
										<header>
											<h3>Előző bejegyzés</h3>
										</header>
										<p>{{ page.previous.title }}</p>
										<footer>
											<ul class="buttons">
												<li><a href="{{ page.previous.url }}" class="button small">&laquo; Ugrás!</a></li>
											</ul>
										</footer>
									</section>

								{% endif %}
								</div>
								<div class="6u 12u(narrower)">
								{% if page.next != nil %}

									<section>
										<header>
											<h3>Következő bejegyzés</h3>
										</header>
										<p>{{ page.next.title }}</p>
										<footer>
											<ul class="buttons">
												<li><a href="{{ page.next.url }}" class="button small">Ugrás! &raquo;</a></li>
											</ul>
										</footer>
									</section>

								{% endif %}
								</div>
							</div>
						</section>

				</article>
